<!DOCTYPE html>
<html ng-app="app" lang="en" class="no-js">
 <head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Order of the Bee</title>

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet"/>
  <link href='/assets/css/open-sans-font.css' rel='stylesheet' type='text/css' />
  <link href="/assets/css/custom.css" rel="stylesheet"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53791137-1', 'auto');
  ga('send', 'pageview');

</script>
 </head>
 <body>
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/angular.min.js"></script>
	<script type="text/javascript" src="/assets/js/modernizr.js"></script>
	<script type="text/javascript" src="/assets/js/ui-bootstrap-0.11.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.smooth-scroll.js"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
	<script type="text/javascript" src="/assets/js/script.js"></script>

	<div class="navbar navbar-default navbar-static-top" ng-controller="NavBarCtrl">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand gototop" href="/"><img src="/assets/img/logo.png"/></a>
			</div>
			<button type="button" class="btn btn-navbar visible-xs-inline" ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only"></span>
				<span class="fa fa-bars"></span>
			</button>
			<p class="navbar-text navbar-left"><a href="/" class="black">Order of the Bee</a></p>
			<div class="collapse navbar-collapse" collapse="isCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/updates/">Latest updates</a></li>
					<li class="dropdown" on-toggle="toggled(open)">
						<a class="dropdown-toggle">About Us</a>
						<ul class="dropdown-menu">
							<li><a href="/about/">About</a></li>
							<li class="divider"></li>
							<li><a href="/about/#values">Our Values</a></li>
							<li><a href="/about/#history">History</a></li>
							<li><a href="/about/#members">Members</a></li>
							<li class="divider"></li>
							<li><a href="/about/#joinrequest">Join the Order</a></li>
						</ul>
					</li>
					<li class="dropdown" on-toggle="toggled(open)">
						<a class="dropdown-toggle">Activities</a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Add-ons</li>
							<li><a href="#addons" class="smooth">Collaboration on building add-ons</a></li>
							<li><a href="#addons" class="smooth">List of best free add-ons</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Business</li>
							<li><a href="#business" class="smooth">Professional Services Network</a></li>
							<li><a href="#business" class="smooth">Community Success Stories</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Honeycomb development</li>
							<li><a href="#honeycomb" class="smooth">Alfresco Honeycomb Edition</a></li>
							<li><a href="#honeycomb" class="smooth">Alfresco Live Showcase</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Other</li>
							<li><a href="#local" class="smooth">Localization</a></li>
							<li><a href="#events" class="smooth">Events Organization</a></li>
							<li><a href="#articles" class="smooth">Tutorials and articles</a></li>
						</ul>
					</li>
					<li><a href="#contact">Contact</a></li>

				</ul>
			</div>
		</div>
	</div>

	<div class="stickyheader stickyheader-container hidden-xs">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand gototop" href="#top"><img src="/assets/img/logo.png"/></a>
				</div>
			<p class="navbar-text navbar-left"><a href="/" class="black">Order of the Bee</a></p>
			<div class="collapse navbar-collapse" collapse="isCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/updates/">Latest updates</a></li>
					<li class="dropdown" on-toggle="toggled(open)">
						<a class="dropdown-toggle">About Us</a>
						<ul class="dropdown-menu">
							<li><a href="/about/">About</a></li>
							<li class="divider"></li>
							<li><a href="/about/#values">Our Values</a></li>
							<li><a href="/about/#history">History</a></li>
							<li><a href="/about/#members">Members</a></li>
							<li class="divider"></li>
							<li><a href="/about/#joinrequest">Join the Order</a></li>
						</ul>
					</li>
					<li class="dropdown" on-toggle="toggled(open)">
						<a class="dropdown-toggle">Activities</a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Add-ons</li>
							<li><a href="#addons" class="smooth">Collaboration on building add-ons</a></li>
							<li><a href="#addons" class="smooth">List of best free add-ons</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Business</li>
							<li><a href="#business" class="smooth">Professional Services Network</a></li>
							<li><a href="#business" class="smooth">Community Success Stories</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Honeycomb development</li>
							<li><a href="#honeycomb" class="smooth">Alfresco Honeycomb Edition</a></li>
							<li><a href="#honeycomb" class="smooth">Alfresco Live Showcase</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Other</li>
							<li><a href="#local" class="smooth">Localization</a></li>
							<li><a href="#events" class="smooth">Events Organization</a></li>
							<li><a href="#articles" class="smooth">Tutorials and articles</a></li>
						</ul>
					</li>
					<li><a href="#contact" class="smooth">Contact</a></li>

				</ul>
				</div>
			</div>
		</div>
	</div>

	<section id="home">
		<div class="container-fluid">
			<img class="bee-right visible-lg-inline" src="/assets/img/bee.png"/>
			<div class="row">
				<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
					<h1>Order of the Bee</h1>
					<p class="lead">We are an independent organization of the Alfresco community. We are here to promote Alfresco Community Edition and aggregate the best from the community for you.</p>
					<p><a href="#activities" class="btn btn-lg btn-success smooth">What we do?</a></p>
				</div>
			</div>
		</div>
	</section>

	<section id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-10 col-sm-12 col-xs-12 lead">
					<h1 class="text-center">Who are we?</h1>
					<p>We are an organization of Alfresco community members working to grow the Alfresco ecosystem independent of Alfresco Software, Inc.</p>

					<p>We are all different: some of us are paying customers; some work for partners; and some are Alfresco Software employees. Some of us work with Alfresco Community Edition while others work with Alfresco Enterprise Edition, or both. Other members use Alfresco as end users, implement it for customers, and develop free and paid add-ons. But we have something in common: we like Alfresco and its community and we think that Alfresco Community Edition and open source solutions based on it are very important to the whole market.</p>

					<p><strong>Our mission is to guarantee the existence of Alfresco Community Edition as a free/libre open source solution for document management.</strong></p>

					<br/>
					<p class="text-center"><a href="/about/" class="btn btn-info btn-lg smooth"><i class="fa fa-arrow-down"></i> More about the Order</a></p>
				</div>
			</div>
		</div>
	</section>

	<section class="orange">
		<div class="container-fluid">
			<h2 class="text-center">Some of our members</h2>
			<br/>
		</div>
	</section>

	<section>
		<div class="container-fluid text-center" ng-controller="MembersCtrl">
			<br/>
			<div class="row">
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="member in rankedList | filter:{status:'boardmember'}">
					<img ng-src="/assets/img/members/{{member.nick}}.png" class="img-circle blue">
					<br/>
					<h3>{{member.name}}<br/>{{member.surname}}</h3>
					<p><a href="#contact">@{{member.nick}}</a></p>
					<p><a ng-show="member.github" ng-href="https://github.com/{{member.github}}"><i class="fa fa-github"></i></a> <a ng-show="member.twitter" ng-href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a> <a ng-show="member.linkedin" ng-href="{{member.linkedin}}"><i class="fa fa-linkedin"></i></a> <a ng-show="member.blog" ng-href="{{member.blog}}"><i class="fa fa-rss"></i></a> <a ng-show="member.googleplus" ng-href="{{member.googleplus}}"><i class="fa fa-google-plus"></i></a> <a ng-show="member.stackoverflow" ng-href="{{member.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a> <a ng-show="member.flickr" ng-href="{{member.flickr}}"><i class="fa fa-flickr"></i></a> <a ng-show="member.youtube" ng-href="{{member.youtube}}"><i class="fa fa-youtube"></i></a></p>
					<br/>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="member in rankedList | filter:{status:'independent'}">
					<img ng-src="/assets/img/members/{{member.nick}}.png" class="img-circle orange">
					<br/>
					<h3>{{member.name}}<br/>{{member.surname}}</h3>
					<p><a href="#contact" class="smooth">@{{member.nick}}</a></p>
					<p><a ng-show="member.github" ng-href="https://github.com/{{member.github}}"><i class="fa fa-github"></i></a> <a ng-show="member.twitter" ng-href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a> <a ng-show="member.linkedin" ng-href="{{member.linkedin}}"><i class="fa fa-linkedin"></i></a> <a ng-show="member.blog" ng-href="{{member.blog}}"><i class="fa fa-rss"></i></a> <a ng-show="member.googleplus" ng-href="{{member.googleplus}}"><i class="fa fa-google-plus"></i></a> <a ng-show="member.stackoverflow" ng-href="{{member.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a> <a ng-show="member.flickr" ng-href="{{member.flickr}}"><i class="fa fa-flickr"></i></a> <a ng-show="member.youtube" ng-href="{{member.youtube}}"><i class="fa fa-youtube"></i></a></p>
					<br/>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="member in rankedList | filter:{status:'alfresco'}">
					<img ng-src="/assets/img/members/{{member.nick}}.png" class="img-circle green">
					<br/>
					<h3>{{member.name}}<br/>{{member.surname}}</h3>
					<p><a href="#contact" class="smooth">@{{member.nick}}</a></p>
					<p><a ng-show="member.github" ng-href="https://github.com/{{member.github}}"><i class="fa fa-github"></i></a> <a ng-show="member.twitter" ng-href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a> <a ng-show="member.linkedin" ng-href="{{member.linkedin}}"><i class="fa fa-linkedin"></i></a> <a ng-show="member.blog" ng-href="{{member.blog}}"><i class="fa fa-rss"></i></a> <a ng-show="member.googleplus" ng-href="{{member.googleplus}}"><i class="fa fa-google-plus"></i></a> <a ng-show="member.stackoverflow" ng-href="{{member.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a> <a ng-show="member.flickr" ng-href="{{member.flickr}}"><i class="fa fa-flickr"></i></a> <a ng-show="member.youtube" ng-href="{{member.youtube}}"><i class="fa fa-youtube"></i></a></p>
					<br/>
				</div>
			</div>
			<br/><br/>
			<div class="btn-group">
				<a href="/about/#joinrequest" class="btn btn-lg btn-success smooth">Join the Order</a> 
				<a href="/about/#members" class="btn btn-lg btn-success smooth">List all members</a>
			</div>
			<br/>
			<br/>
			<br/>
	</section>

	<section class="green" id="activities">
		<div class="container-fluid">
			<h1 class="text-center">What are we doing?</h1>
			<br/>
		</div>
	</section>

	<section class="orange">
		<div class="container-fluid">
			<h2 class="text-center">Alfresco Add-ons</h2>
			<br/>
		</div>
	</section>

	<section id="addons">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<br/>
					<h2 class="text-center">Collaboration on building add-ons</h2>
					<img class="right" src="/assets/img/collaboration-bee.png"/>
					<p class="lead">Members of the Order like to build new Alfresco add-ons and to help newcomers to build their first add-on. For example, Lanre is keen on finishing the AAAR work he was collaborating on for the hackathon. Ole works on Alfresco Maven SDK. Jeff is one of the core cmislib mainainers. Oksana works on the JIRA-dashlet.</p>
					<p>Contact us to:</p>
					<ul>
						<li>join any existing project</li>
						<li>search for a team that is looking for contributions</li>
						<li>ask for help with your first add-on</li>
						<li>suggest an idea for a new open source add-on</li>
					</ul>
					<p>Click the button below to open the list of our current projects and to get ideas about how to help.</p>
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-info" href="https://wiki.alfresco.com/wiki/Projects_and_Teams_Global_Virtual_Hack-a-thon_2014"  target="_blank">Current projects and ideas</a></p>
					<br/>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="text-center">Forming a list of best free add-ons</h2>
					<img class="left" src="/assets/img/honeycomb-bee.png"/>
					<p class="lead">We form a collection of our favorite free open source Alfresco add-ons. The add-ons that are included work on the latest releases and are those that many people find useful and interesting. We're picky about which add-ons we choose because we want to be able to help you use them on your projects.</p>
					<p>While forming the collection we are playing the following roles:</p>
					<ul>
						<li>reviewing that an add-on works on the latest Alfresco versions</li>
						<li>categorizing add-ons</li>
						<li>collaborating with the add-on's developer when problems arise</li>
						<li>creating and reviewing tutorials and screenshots</li>
					</ul>
					<p>The full collection of add-ons can be found on the <a href="http://addons.alfresco.com" target="_blank">Alfresco Add-Ons site</a>.</p>
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-info" href="/addons/">Go to the collection</a></p>
					<br/>
				</div>
			</div>
			<br/>
		</div>
	</section>

	<section class="orange">
		<div class="container-fluid">
			<h2 class="text-center">Business</h2>
			<br/>
		</div>
	</section>

	<section id="business">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="text-center">Forming a Professional Services Network</h2>
					<img class="right" src="/assets/img/si-bee.png"/>
					<p class="lead">Many companies search for a team or a person who can implement a project based on Alfresco Community Edition. Or perhaps they need help to develop an extension or to solve some specific task. Alfresco Software forbids partners to do paid work on Alfresco Community Edition, so it can be difficult to find an experienced, reliable team to help with Community Edition.</p>
					<p class="lead">So we are forming a list of well-known systems integrators and freelancers all over the world who can help you with Community Edition.</p>
					<p>Want to help us form the list? Here's how:</p>
					<ul>
						<li>If you provide services: send us a link to your profile, tell us what you can do, and give us contacts of one or more customers who are willing to be a reference.</li>
						<li>If you are a customer: share your story and tell us who helped you with your Alfresco Community Edition project.</li>
					</ul>
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-info" href="/professionals/">Professional Services Network</a></p>
					<br/>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="text-center">Forming a list of Community Success Stories</h2>
					<img class="left" src="/assets/img/ss-bee.png"/>
					<p class="lead">Many companies use Alfresco Enterprise and Alfresco Software does a good job of telling their stories. But many organizations, large and small, use Alfresco Community Edition and they are happy with it. One of our goals is to tell their story.</p>
					<p>We want you to share your Alfresco Community Edition story with the rest of the world. What issues arose and how did you address them? Who helped you in hard times? What do you wish you had known when you first started out? <a href="#contact" href="smooth"><u>Contact us</u></a> using the Mailing list.</p>
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-info" href="/stories/">List of stories</a></p>
					<br/>
				</div>
			</div>
			<br/>
		</div>
	</section>

	<section class="orange">
		<div class="container-fluid">
			<h2 class="text-center">Honeycomb Development</h2>
			<br/>
		</div>
	</section>

	<section id="honeycomb">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="text-center">Alfresco Honeycomb Edition <small><span class="label label-info">In development</span></small></h2>
					<img class="left" src="/assets/img/ootb-edition-bee.png"/>
					<p class="lead">We are working on creating Alfresco Honeycomb Edition. It will be based on Alfresco Community Edition and will include a combination of scripts, content models, workflows, extensions and patches.</p>
					<p>Alfresco Honeycomb Edition will include some of the most popular and useful add-ons that are available as well as a number of scripts that can be used to install Alfresco more quickly.</p>
					<p>We are not going to fork Alfresco to build our own product. The idea is to build a new package that will include the unmodified Alfresco Community Edition distribution and a number of scripts that will apply our changes to the system during the first start.</p>
					<div class="alert alert-info">We are working on this currently. <a href="#contact" class="smooth"><u>Follow us</u></a> to learn more about the current stage.</div>
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-info disabled" href="/honeycomb/">Learn more</a></p>
					<br/>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="text-center">Alfresco Live <small><span class="label label-info">In development</span></small></h2>
					<img class="right" src="/assets/img/showcase-bee.png"/>
					<p class="lead">We are working on building and supporting several servers with Alfresco installed that will be available for the public.</p>
					<ul>
						<li>The first one is a <strong>Showcase</strong> instance, that is used to show different free Alfresco add-ons. After we configure it you can login and explore add-ons from our <strong>Honeycomb</strong>.</li>
						<li>The second one is a <strong>Testbed</strong> server. If someone shows up in the IRC channel with a question we can log them into the testbed instance and answer the question hands-on. Join <i>#alfresco</i> in IRC to ask us for a help.</li>
					</ul> 
					<p>All servers will be rebuilt every night and on demand.</p>
					<div class="alert alert-info" role="alert">We are working on this currently. <a href="#contact" class="smooth"><u>Follow us</u></a> to be informed when instances will be ready.</div>
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-info disabled" href="/live/">Learn more</a></p>
					<br/>
				</div>
			</div>
		</div>
	</section>

	<section class="orange">
		<div class="container-fluid">
			<h2 class="text-center">Localization</h2>
			<br/>
		</div>
	</section>

	<section id="local">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="text-center">Alfresco and add-ons localization</h2>
					<!--<img class="right" src="/assets/img/local-bee.png"/>-->
					<p class="lead">Alfresco is not translated to your language? Want your customers to use favorite add-on in their native language? Join our project to localize Alfresco related products.</p>
					<ul>
						<li>More than 400 people already work on translating Alfresco to their languages. We help them to find another collaborators, package their language packs to make it easier to install them to Alfresco. Join existing team or create your own team.</li>
						<li>Want to translate an add-on to your language? We collaborate with many developers to make their add-ons translatable and to start translation projects for their add-ons.</li>
					</ul> 
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-info" href="https://crowdin.net/project/alfresco" target="_blank">Join the team</a></p>
					<br/>
				</div>
			</div>
		</div>
	</section>

	<section class="orange">
		<div class="container-fluid">
			<h2 class="text-center">Events organization</h2>
			<br/>
		</div>
	</section>

	<section id="events">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="text-center">Alfresco Meetup</h2>
					<img class="left" src="/assets/img/summit-bee.png"/>
					<p class="lead">Order of the Bee members from all over the world help Alfresco's Head of Community, Richard Esplin, to organize community meetings. Search for the meeting near you at <a href="http://www.alfresco.com/community">Alfresco Community</a> page.</p>
					<p>Create an issue in <a href="https://github.com/OrderOfTheBee/marketing/issues">our Github repo</a> if you search for:</p>
					<ul>
						<li>the Order members to participate in the meetup</li>
						<li>share information about your meetup using our social channels</li>
						<li>our help in organization, especially if it's your first meetup and you don't know where to start</li>
						<li>some stuff with bees (T-shirts, for example)</li>
					</ul>
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-info" href="/events/">Upcoming events</a></p>
					<br/>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="text-center">Hack-a-thon</h2>
					<img class="right" src="/assets/img/ootb-edition-bee.png"/>
					<p class="lead">Hack-a-thon is a one-day event to work on some Alfresco add-ons in teams or personally.</p>
					<p>Alfresco provides two hack-a-thon events per year:</p>
					<ul>
						<li>Global Virtual Hack-a-thons (Each spring)</li>
						<li>Alfresco Summit Hack-a-thons (Each fall, the day before Alfresco Summit)</li>
					</ul>
					<p>We currently participate in these events, organize local hack-a-thon in different countries and gathering together to participate in Global Virtual Hack-a-thons. Submit your idea of the project in "Collaboration on building add-ons" activity or just join the Hack-a-thon.</p>
					<p class="lead">Next hack-a-thon: <a href="http://summit.alfresco.com">Alfresco Summit, Day Zero (September-October 2014)</a></p>
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-info" href="https://wiki.alfresco.com/wiki/Hackathon" target="_blank">Alfresco Hack-a-thon</a></p>
					<br/>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="text-center">Tech Talk Live</h2>
					<img class="left" src="/assets/img/ootb-edition-bee.png"/>
					<p class="lead">Tech Talk Live is a series of online regularly scheduled 1-hour sessions where attendees discuss technical questions or present new Alfresco features, development tools or free open-source add-ons.</p>
					<p>Alfresco <a href="https://wiki.alfresco.com/wiki/Live">hosts Tech Talks</a> since 2008. Order of the Bee is starting to provide own Tech Talk sessions to make them happen more often and to discuss Honeycomb development process.</p>
					<p>Submit request to add your topic on the schedule or do tell us what topics are interesting for you.</p>
					<div class="alert alert-info">Timetable will be published soon.</div>
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-info" href="https://github.com/OrderOfTheBee/marketing/issues/new" target="_blank">Submit Request</a></p>
					<br/>
				</div>
			</div>
		</div>
	</section>

	<section class="orange">
		<div class="container-fluid">
			<h2 class="text-center">Tutorials and Articles</h2>
			<br/>
		</div>
	</section>

	<section id="articles">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="text-center">Tutorials and Guids</h2>
					<img class="right" src="/assets/img/mission-bee.png"/>
					<p class="lead">Did not find tutorial in Alfresco Docs? Don't know how to use Alfresco Maven SDK or how to create custom workflow type? Check our archive of tutorials and guides.</p>
					<p>Some of us participate in Alfresco development. Other members had problems with finding an appropriate tutorial when they needed it. So they write tutorials and quick start guides to help new community members with Alfresco configuration and development.</p> 
					<p>Search for a tutorial in our archive or contact us to add your guide to our list.</p>
					<br/>
					<h2 class="text-center">Articles and Blog Posts</h2>
					<p>Some articles are too small to name them <strong>tutorial</strong>. But here you can find new features and add-ons description, small hacks that can be useful during Alfresco implementation and just stories that our members want to share with the community.</p>
					<br/>
					<p class="text-center"><a class="btn btn-lg btn-success" href="/archive/">Go to archive</a></p>
					<br/>
				</div>
				<br/>
			</div>
		</div>
	</section>

	<section class="green">
		<div class="container-fluid">
			<h1 class="text-center">Contact us</h1>
			<br/>
		</div>
	</section>

	<section id="contact">
		<div class="container-fluid">
			<br/>
			<img class="bee-right visible-lg-inline visible-md-inline" src="/assets/img/contact-bee.png"/>
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
				<img class="right visible-xs-inline visible-sm-inline" width="100px" src="/assets/img/contact-bee.png"/>
				<table class="table table-responsive">
					<thead>
						<tr>
							<th>Order of the Bee resources</th>
							<th>Alfresco community resources</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="http://www.xtreamlab.net/mailman/listinfo/ootb-hive">Mailing List</a></td>
							<td><a href="http://webchat.freenode.net/?nick=ootb-visitor&channels=%23alfresco&prompt=1">#alfresco channel at FreeNode</a></td>
						</tr>
						<tr>
							<td><a href="https://twitter.com/orderofthebee">@orderofthebee at Twitter</a></td>
							<td><a href="http://forums.alfresco.com/">Alfresco Forums</a></td>
						</tr>
						<tr>
							<td><a href="https://github.com/OrderOfTheBee/">Github</a></td>
							<td><a href="http://stackoverflow.com/questions/tagged/alfresco">Stack Overflow</a></td>
						</tr>
					</tbody>
				</table>
				<br/>
			</div>
		</div>
	</section>

	<section class="orange">
		<div class="container-fluid">
			<h2 class="text-center">Get in Touch</h2>
			<br/>
		</div>
	</section>
	<section>
		<div class="container-fluid">
			<br/>
			<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
				<br/>
				<p>Your message will be sent to the mailing list. If you want to contact one of us personally, please, use the private contact information for that person. We've tried to keep this form short. Be so kind as to tell us a bit about yourself in your first message to the group.</p>
				<br/>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
						<form name="contactForm" class="form-horizontal" role="form" action="http://forms.brace.io/ootb-hive@xtreamlab.net" method="POST">
							<div class="form-group">
								<label for="name">Your name</label>
								<input type="text" class="form-control" id="name" name="name" required />
							</div>
							<div class="form-group">
								<label for="email">E-mail</label>
								<input type="email" class="form-control" id="email" name="_replyto" required /> 
							</div>
							<div class="form-group">
								<label for="textarea">Message</label>
								<textarea class="form-control" id="textarea" rows="4" name="text" required ></textarea>
							</div>
							<!--input type="hidden" name="_next" value="/thanks/" /-->
							<div class="form-actions text-center">
								<button type="submit" class="btn btn-success btn-lg offset1">Submit</button>
								<button class="btn" type="reset">Clear</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<social></social>
 </body>
</html>
