<!DOCTYPE html>
<html ng-app="app" lang="en" class="no-js">
 <head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Order of the Bee</title>

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet"/>
  <link href='/assets/css/open-sans-font.css' rel='stylesheet' type='text/css' />
  <link href="/assets/css/custom.css" rel="stylesheet"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53791137-1', 'auto');
  ga('send', 'pageview');

</script>
 </head>
 <body>
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/angular.min.js"></script>
	<script type="text/javascript" src="/assets/js/sanitize.js"></script>
	<script type="text/javascript" src="/assets/js/modernizr.js"></script>
	<script type="text/javascript" src="/assets/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
	<header></header>	

	<section id="home" class="visible-lg-block bg-lg">
		<div class="container-fluid">
			<div class="col-lg-offset-4 col-lg-4">
				<br/><br/>
				<h1>Order of the Bee</h1>
				<h3>We are an independent organization of the Alfresco community. We are here to promote Alfresco Community Edition and aggregate the best from the community for you.</h3>
				<br/><br/><br/><br/>
			</div>
		</div>
	</section>

	<section id="home" class="visible-md-block bg-md">
		<div class="container">
			<div class="col-md-offset-3 col-md-6">
				<br/>
				<h1>Order of the Bee</h1>
				<p class="lead">We are an independent organization of the Alfresco community. We are here to promote Alfresco Community Edition and aggregate the best from the community for you.</p>
				<br/><br/>
			</div>
		</div>
	</section>

	<section id="home" class="visible-sm-block bg-sm">
		<div class="container">
			<div class="col-sm-offset-2 col-sm-8">
				<br/><br/><br/>
				<h1>Order of the Bee</h1>
				<p class="lead">We are an independent organization of the Alfresco community. We are here to promote Alfresco Community Edition and aggregate the best from the community for you.</p>
				<br/><br/><br/><br/>
			</div>
		</div>
	</section>

	<section id="home" class="visible-xs-block bg-xs">
		<div class="container">
			<div class="col-xs-offset-1 col-xs-10">
				<br/><br/>
				<h1>Order of the Bee</h1>
				<p class="lead">We are an independent organization of the Alfresco community. We are here to promote Alfresco Community Edition and aggregate the best from the community for you.</p>
				<br/><br/><br/><br/><br/>
			</div>
		</div>
	</section>

	<section id="about">
		<div class="container">
			<div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-10 col-sm-12 col-xs-12 lead">
				<h1 class="text-center">Who are we?</h1>
				<p>We are an organization of Alfresco community members working to grow the Alfresco ecosystem independent of Alfresco Software, Inc.</p>
				<p>We are all different: some of us are paying customers; some work for partners; and some are Alfresco Software employees. Some of us work with Alfresco Community Edition while others work with Alfresco Enterprise Edition, or both. Other members use Alfresco as end users, implement it for customers, and develop free and paid add-ons. But we have something in common: we like Alfresco and its community and we think that Alfresco Community Edition and open source solutions based on it are very important to the whole market.</p>
				<p><strong>Our mission is to guarantee the existence of Alfresco Community Edition as a free/libre open source solution for document management.</strong></p>
				<br/>
				<p class="text-center"><a href="/about/" class="btn btn-primary btn-lg"><i class="fa fa-arrow-down"></i> More about the Order</a></p>
			</div>
		</div>
		<div id="members" class="grey" ng-controller="MembersCtrl">
			<script type="text/ng-template" id="MemberModalContent.html">
				<div class="modal-header">
					<h3>{{item.name}} {{item.surname}}</h3>
				</div>
				<div class="modal-body">
					<img ng-src="/assets/img/members/{{item.nick}}.jpg" class="img-circle right"/>
					<p ng-show="item.summary"><strong>About</strong></p>
					<div ng-show="item.summary" ng-bind-html="item.summary"></div>
					<br/>
					<p><strong>Contacts</strong></p>
					<p ng-show="item.github"><a ng-href="https://github.com/{{item.github}}" class="black"><i class="fa fa-github"></i> Github</a></p>
					<p ng-show="item.twitter"><a ng-href="https://twitter.com/{{item.twitter}}" class="black"><i class="fa fa-twitter"></i> Twitter</a></p>
					<p ng-show="item.linkedin"><a ng-href="{{item.linkedin}}" class="black"><i class="fa fa-linkedin"></i> LinkedIn</a></p>
					<p ng-show="item.blog"><a ng-href="{{item.blog}}" class="black"><i class="fa fa-rss"></i> Blog</a></p>
					<p ng-show="item.googleplus"><a ng-href="{{item.googleplus}}" class="black"><i class="fa fa-google-plus"></i> Google+</a></p>
					<p ng-show="item.stackoverflow"><a ng-href="{{item.stackoverflow}}" class="black"><i class="fa fa-stack-overflow"></i> StackOverflow</a></p>
					<p ng-show="item.flickr"><a ng-href="{{item.flickr}}" class="black"><i class="fa fa-flickr"></i> Flickr</a></p>
					<p ng-show="item.youtube"><a ng-href="{{item.youtube}}" class="black"><i class="fa fa-youtube"></i> Youtube</a></p>
					<br/>
					<p ng-show="item.contributions"><strong>Contributions</strong></p>
					<div ng-show="item.contributions" ng-bind-html="item.contributions"></div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
				</div>
			</script>
			<div class="container-fluid text-center">
				<h2 class="text-center">Some of our members</h2>
				<br/>
				<div class="row">
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="member in fullList | filter:{key:'yes'} | limitTo:6" >
						<a href="" ng-click="open(member)"><img ng-src="/assets/img/members/{{member.nick}}.jpg" class="img-circle purple"/></a>
						<br/>
						<h4><a ng-click="open(member)" href="" class="black">{{member.name}}<br/>{{member.surname}}</a></h4>
						<p><a ng-show="member.github" ng-href="https://github.com/{{member.github}}"><i class="fa fa-github"></i></a> <a ng-show="member.twitter" ng-href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a> <a ng-show="member.linkedin" ng-href="{{member.linkedin}}"><i class="fa fa-linkedin"></i></a> <a ng-show="member.blog" ng-href="{{member.blog}}"><i class="fa fa-rss"></i></a> <a ng-show="member.googleplus" ng-href="{{member.googleplus}}"><i class="fa fa-google-plus"></i></a> <a ng-show="member.stackoverflow" ng-href="{{member.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a> <a ng-show="member.flickr" ng-href="{{member.flickr}}"><i class="fa fa-flickr"></i></a> <a ng-show="member.youtube" ng-href="{{member.youtube}}"><i class="fa fa-youtube"></i></a></p>
						<br/>
					</div>
				</div>
				<br/><br/>
				<div class="btn-group">
					<a href="/about/#joinrequest" class="btn btn-lg btn-success">Join the Order</a> 
					<a href="/about/#members" class="btn btn-lg btn-success">List all members</a>
				</div>
				<br/>
				<br/>
				<br/>
			</div>
	</section>

	<section id="activities">
		<div class="container">
			<h1 class="text-center">What are we doing?</h1>
			<br/>
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
					<div class="bg-4 text-center">
						<h3>Alfresco Honeycomb Edition</h3>
						<img class="right" width="37%" src="/assets/img/bee-honeycomb.svg"/>
						<p class="lead text-left">Alfresco Honeycomb Edition is based on Alfresco Community Edition and includes a combination of scripts, content models, workflows, extensions and patches.</p>
						<p class="lead text-left">Alfresco Honeycomb Edition includes some of the most popular and useful add-ons that are available as well as a number of scripts that can be used to install Alfresco more quickly.</p>
						<br/>
						<p class="text-center"><a class="btn btn-primary btn-lg" href="/honeycomb/">Download</a></p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="bg-4 text-center">
						<h3>Tutorials and Articles</h3>
						<img class="left" width="38%" src="/assets/img/bee-archive.svg">
						<p class="lead text-right">We monitor technical Alfresco-related blogs and add the most helpful tutorials, articles and posts to our archive.</p>
						<p class="lead text-right">If you do not know how to use the Maven SDK or how to create workflows, welcome to our archive. Here you can find small hacks and tips that can be useful during Alfresco implementation, and stories that our members want to share.</p>
						<br/>
						<p class="text-center"><a class="btn btn-primary btn-lg" href="http://posts.orderofthebee.org/tagged/technical">Archive</a></p>
					</div>
				</div>
			</div>
			<br/><br/>
			<div class="row text-center">
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
					<div class="bg-4 text-center">
						<h3>Professional Services Network</h3>
						<img class="right" width="35%" src="/assets/img/bee-professional.svg">
						<p class="lead text-left">Many companies are looking for a team or a person who can implement a project based on Alfresco Community Edition. Or perhaps they need help to develop an extension or solve some specific task. To address this, we are forming a list of well-known systems integrators and freelancers all over the world who can help you.</p>
						<br/>
						<p class="text-center"><a class="btn btn-primary btn-lg" href="/professionals/">Professional Services Network</a></p>
						<p><a class="btn btn-link" href="/professionals/#join" target="_blank">How to be added to the list?</a></p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="bg-4 text-center">
						<h3>List of the best <br/>free add-ons</h3>
						<img class="left" src="/assets/img/bee-addons.svg" width="30%"/>
						<p class="lead text-right">We maintain a listing of high-value, high-quality open source addons within the Alfresco ecosystem. The add-ons that are included work on the latest releases and are those that many people find useful and interesting. We're picky about which add-ons we choose because we want to be able to help you use them on your projects.</p>
						<br/>
						<p><a class="btn btn-primary btn-lg" href="/addons/">Collection</a></p>
						<p><a class="btn btn-link" href="https://github.com/OrderOfTheBee/addons/wiki#addon-listing" target="_blank">How to add my add-on to the list?</a></p>
					</div>
				</div>
			</div>
			<br/><br/>
			<div class="row text-center">
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
					<div class="bg-4 text-center">
						<h3>Community Success Stories</h3>
						<img class="right" src="/assets/img/bee-stories.svg" width="30%">
						<p class="lead text-left">Many companies use Alfresco Enterprise and Alfresco Software does a good job of telling their stories. But many organizations, large and small, use Alfresco Community Edition and they are happy with it. One of our goals is to tell their story.</p>
						<br>
						<p class="text-center"><a class="btn btn-primary btn-lg" href="/stories/">List of stories</a></p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="bg-4 text-center">
						<h3>Alfresco Events</h3>
						<img class="left" src="/assets/img/bee-meetup.svg" width="40%">
						<p class="lead text-right">Order of the Bee members from all over the world organize and participate in the community meetings, Hack-a-thons and technical Alfresco-related webinars. Search for the meeting near you or contact us to schedule an event.</p>
						<br/>
						<p class="text-center"><a class="btn btn-primary btn-lg" href="/events/">Upcoming Events</a></p>
					</div>
				</div>
			</div>
			<br/>
		</div>
	</section>

	<section id="contact" class="grey">
		<div class="container-fluid">
			<h1 class="text-center">Contact us</h1>
			<br/>
			<br/>
			<img class="bee-right visible-lg-inline visible-md-inline" width="15%" src="/assets/img/bee-contact.svg"/>
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
				<img class="right visible-xs-inline visible-sm-inline" width="100px" src="/assets/img/bee-contact.svg"/>
				<p>Contact us via IRC to chat with us. You can find us at <a href="http://webchat.freenode.net/?nick=ootb-visitor&channels=%23orderofthebee&prompt=1">#orderofthebee channel at FreeNode</a>.</p>
				<p>Follow us on <a href="https://twitter.com/orderofthebee">Twitter</a> and send us direct messages in case of need.</p>
				<p>Create issues and fork our repositories at <a href="https://github.com/OrderOfTheBee/">Github</a>.</p>
				<p>Get in touch with the Order members using our mailing lists:</p>
				<ul>
					<li>Primary mailing list of the Order: <a href="http://www.xtreamlab.net/mailman/listinfo/ootb-hive">ootb-hive@xtreamlab.net</a></li>
					<li>Mailing list of the Governance Committee: <a href="http://www.xtreamlab.net/mailman/listinfo/ootb-gov">ootb-gov@xtreamlab.net</a></li>
					<li>Mailing list of the Infrastructure Committee: <a href="http://www.xtreamlab.net/mailman/listinfo/ootb-infra">ootb-infra@xtreamlab.net</a></li>
					<li>Mailing list of the Distribution Committee: <a href="http://www.xtreamlab.net/mailman/listinfo/ootb-distro">ootb-distro@xtreamlab.net</a></li>
					<li>Mailing list of the Add-ons Committee: <a href="http://www.xtreamlab.net/mailman/listinfo/ootb-addons">ootb-addons@xtreamlab.net</a></li>
					<li>Mailing list of the Marketing Committee: <a href="http://www.xtreamlab.net/mailman/listinfo/ootb-mkt">ootb-mkt@xtreamlab.net</a></li>
				</ul>
				<br/><br/>
			</div>
		</div>
	</section>

	<social></social>
	<script type="text/javascript" src="/assets/js/scripts.js"></script>
 </body>
</html>
