<!DOCTYPE html>
<html ng-app="app" lang="en" class="no-js">
 <head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Order of the Bee >> Professional Services Network</title>

  <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet"/>
  <link href='/assets/css/open-sans-font.css' rel='stylesheet' type='text/css' />
  <link href="/assets/css/custom.css" rel="stylesheet"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53791137-1', 'auto');
  ga('send', 'pageview');

</script>
 </head>
 <body>
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/angular.min.js"></script>
	<script type="text/javascript" src="/assets/js/sanitize.js"></script>
	<script type="text/javascript" src="/assets/js/modernizr.js"></script>
	<script type="text/javascript" src="/assets/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.smooth-scroll.js"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
	<header></header>
	<script>
		function countryFilter(country) {
			var e = document.getElementById("query");
			var scope = $(e).scope();
			scope.$apply(function() {
				scope.query = country;
			});
	       }
	</script>

	<section class="green">
		<div class="container-fluid">
			<h1 class="text-center">Professional Services Network</h1>
			<br/>
		</div>
	</section>

	<div class="container-fluid">
		<br/><br/>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
				<form class="form-inline">
					<div class="form-group">
						<label for="select">Country</label> 
						<select ng-model="query" id="query" class="form-control" placeholder="Country">
							<option selected="selected" value=""></option>
							<optgroup label="AMER">
								<option>Brazil</option>
								<option>USA</option>
							</optgroup>
							<optgroup label="EMEA">
								<option>Austria</option>
								<option>Croatia</option>
								<option>Czech Republic</option>
								<option>France</option>
								<option>Germany</option>
								<option>Poland</option>
								<option>Russia</option>
								<option>Slovakia</option>
								<option>Spain</option>
								<option>Sweden</option>
								<option>United Kingdom</option>
							</optgroup>
							<optgroup label="APAC">
							</optgroup>
						</select>
					</div>
					<div class="form-group">
						<label for="query2">Filter</label> 
						<input ng-model="query2" id="query2" class="form-control" />
					</div>
					<button type="reset" onclick="
						var e = document.getElementById('query');
						var scope = $(e).scope();
						scope.$apply(function() {
						scope.query = '';
						scope.query2 = '';
						});" class="btn btn-default">Reset filter</button>
				</form>
			</div>
		</div>
	</div>
	<br/>
	<br/>

	<div ng-show="fullList[0]" class="container-fluid" ng-controller="PSNCtrl">
		<div class="row">
			<br/>
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" ng-repeat="item in fullList | filter:{territory: query} | filter: query2">
				<h4 class="pull-right"><span class="label label-info" ng-show="item.status == 'Company'">{{item.status}}</span><span class="label label-warning" ng-show="item.status == 'Freelancer'">{{item.status}}</span></h4>
				<h2>{{item.name}}</h2>
				<p><strong>Territory</strong>: <span ng-repeat="country in item.territory"><a onclick="countryFilter((this.textContent || this.innerText))"><i>{{country}}</i></a><span ng-if="!$last">,</span> </span></p> 
				<div ng-bind-html="item.summary"></div>
				<br/>
				<div class="row">
					<div ng-show="item.repos[0]" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
						<p ng-show="item.repos[0]"><strong>Open Repositories:</strong></p>
						<ul ng-show="item.repos[0]">
							<li ng-repeat="repo in item.repos"><a ng-href="{{repo.link}}" class="black" target="_blank">{{repo.name}}</a></li>
						</ul>
					</div>
					<div ng-show="item.blogs[0]" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
						<p ng-show="item.blogs[0]"><strong>Technical Blogs & Books:</strong></p>
						<ul ng-show="item.blogs[0]">
							<li ng-repeat="blog in item.blogs"><a ng-href="{{blog.link}}" class="black" target="_blank">{{blog.title}}</a></li>
						</ul>
					</div>
					<div ng-show="item.customers[0]" class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
						<p ng-show="item.customers[0]"><strong>Customers:</strong></p>
						<ul ng-show="item.customers[0]">
							<li ng-repeat="customer in item.customers"><a ng-href="{{customer.link}}" class="black" target="_blank">{{customer.name}}</a> <a ng-href="{{customer.story}}">[success story]</a></li>
						</ul>
					</div>
				</div>
				<br/>
				<p ng-show="item.website"><strong>Website</strong>: <a ng-href="{{item.website}}" target="_blank">{{item.website}}</a></p>
				<br/>
				<hr/>
				<br/>
			</div>
		</div>
		<br/>
	</div>

	<section class="orange">
		<div class="container-fluid">
			<h2 class="text-center">How to be added here?</h2>
			<br/>
		</div>
	</section>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-10 col-sm-12 col-xs-12 lead">
				<br/>
				<p>Send us a link to your profile or company website, tell us what you can do, in what countries do you work.</p>
				<p>To be added to this page you should confirm your competence. There are several ways to do it:</p>
				<ul>
					<li>Give us contacts of one or more customers who are willing to be a reference. If would be nice if they are ready to publish a success story on the Order website.</li>
					<li>Show us free open source add-ons implemented by the current employees of the company.</li>
					<li>Give us a link to your technical blogs, articles and books. If your employees are blogging on Alfresco technical topic, it's a good way to confirm your competence.</li>
				</ul>
				<p>Please make sure that you give link to the actual blogs and repositories. If your last contribution has been made several years ago, it cannot be used as a reference.</p>
					<br/>
					<p class="text-center"><a href="https://github.com/OrderOfTheBee/marketing/issues/new" class="btn btn-lg btn-success" target="_blank"><i class="fa fa-arrow-down"></i> Send request</a></p>
				</div>
			</div>
		</div>
	</section>

	<social></social>

 </body>
</html>
