<!DOCTYPE html>
<html ng-app="app" lang="en" class="no-js">
 <head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Order of the Bee >> About</title>

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet"/>
  <link href='/assets/css/open-sans-font.css' rel='stylesheet' type='text/css' />
  <link href="/assets/css/custom.css" rel="stylesheet"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53791137-1', 'auto');
  ga('send', 'pageview');

</script>
 </head>
 <body>
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/angular.min.js"></script>
	<script type="text/javascript" src="/assets/js/sanitize.js"></script>
	<script type="text/javascript" src="/assets/js/modernizr.js"></script>
	<script type="text/javascript" src="/assets/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.smooth-scroll.js"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
	<header></header>

	<section class="green">
		<div class="container-fluid">
			<h1 class="text-center">Who are we?</h1>
			<br/>
		</div>
	</section>

	<section id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-10 col-sm-12 col-xs-12 lead">
					<br/>
					<p>We are an organization of Alfresco community members working to grow the Alfresco ecosystem independent of Alfresco Software, Inc.</p>

					<p>We are all different: some of us are employees at Alfresco Software, its customers, and partners. Some of us work with Alfresco Community Edition, others with Alfresco Enterprise Edition, or both. Other members use Alfresco as end users, implement it for the customers, and develop free and paid add-ons. But we have something in common: we like Alfresco and its community, we think that Alfresco Community Edition and open source solutions based on it are very important for us and for the whole market.</p>
					<br/>
				</div>
			</div>
		</div>
	</section>
	
	<section class="orange" id="values">
		<div class="container-fluid">
			<h2 class="text-center">Our values</h2>
			<br/>
		</div>
	</section>

	<img class="bee-right visible-lg-inline" src="/assets/img/mission-bee.png"/>
	<div class="container-fluid">
		<div class="row" id="values">
			<div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-10 col-sm-12 col-xs-12">
				<br/>
				<p class="lead"><strong>Our mission is to guarantee the existence of Alfresco Community Edition as a free/libre open source solution for document management.</strong></p>
				<br/>
				<dl>
					<dt>We commit ourselves</dt> 
					<dd>to introduce Alfresco community interests to Alfresco Software, Inc.</dd>
					<dd>to promote Alfresco among the technical community</dd>
					<dd>to help community and especially developers to work with Alfresco technologies</dd>
					<dt>We reject</dt> 
					<dd>providing any paid services as an Order, but our members can do it as their primary job in other companies.</dd>
					<dt>We might be forced to do</dt> 
					<dd>we may fork Alfresco Community and build our version of Alfresco, if Alfresco Software, Inc. takes an action contrary to the idea of open source.</dd>
				</dl>
				<p class="text-center"><a href="/#activities" class="btn btn-info btn-lg"><i class="fa fa-arrow-down"></i> Learn more about our activities</a></p>
				<br/>
			</div>
		</div>
	</div>

	<section class="orange" id="history">
		<div class="container-fluid">
			<h2 class="text-center">History of the founding of the Order</h2>
			<br/>
		</div>
	</section>

	<img class="bee-left visible-lg-inline" src="/assets/img/history-bee.png"/>
	<div class="container-fluid">
		<div class="row" id="history">
			<div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-10 col-sm-12 col-xs-12 lead">
				<br/>
				<p>We were worried that the current management of Alfresco didn't see the value of Alfresco being open source, but for us, that's a core driver for this great community. We also think that Alfresco wouldn't be what it is without its community. And by community, we don't just mean users of Alfresco Community Edition, but also people using Alfresco Enterprise, Alfresco partners, and Alfresco employees willing to collaborate with each other to create better software, and a better community.</p>
				<p>The creation of the <strong>Order of the Bee</strong> was inspired by Jeff Potts's Community Keynote at the Alfresco Summit 2013. Jeff presented his role of Chief Community Officer as a bee-keeper, where the bees are the community members producing honey. Alfresco would be like a company in the honey business, working together with the bees. Both benefit from each other. In contrast, a company producing maple syrup keeps its recipe as its big secret, as in closed source software, and its customer just consume the syrup as is (the analogy is originally from Pentaho, another open source company). Hence, the Order of the Bee aims to collaborate with Alfresco's bee-keeper, now Richard Esplin, for the greater good of the honey and the bees.</p>
				<br/>
				<p class="text-center"><a href="/index.html#activities" class="btn btn-info btn-lg"><i class="fa fa-arrow-down"></i> Our activites</a></p>
				<br/>
			</div>
		</div>
	</div>

	<section class="orange" id="members">
		<div class="container-fluid">
			<h2 class="text-center">Members</h2>
			<br/>
		</div>
	</section>

	<div class="container-fluid text-center" ng-controller="MembersCtrl">
		<br/>
		<script type="text/ng-template" id="MemberModalContent.html">
			<div class="modal-header">
				<h3>{{member.name}} {{member.surname}}</h3>
			</div>
			<div class="modal-body">
				<img ng-src="/assets/img/members/{{member.nick}}.png" class="img-circle right"/>
				<p ng-show="member.summary"><strong>About</strong></p>
				<div ng-show="member.summary" ng-bind-html="member.summary"></div>
				<br/>
				<p><strong>Contacts</strong></p>
				<p><a ng-show="member.github" ng-href="https://github.com/{{member.github}}"><i class="fa fa-github"></i> Github</a></p>
				<p><a ng-show="member.twitter" ng-href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i> Twitter</a></p>
				<p><a ng-show="member.linkedin" ng-href="{{member.linkedin}}"><i class="fa fa-linkedin"></i> LinkedIn</a></p>
				<p><a ng-show="member.blog" ng-href="{{member.blog}}"><i class="fa fa-rss"></i> Blog</a></p>
				<p><a ng-show="member.googleplus" ng-href="{{member.googleplus}}"><i class="fa fa-google-plus"></i> Google+</a></p>
				<p><a ng-show="member.stackoverflow" ng-href="{{member.stackoverflow}}"><i class="fa fa-stack-overflow"></i> StackOverflow</a></p>
				<p><a ng-show="member.flickr" ng-href="{{member.flickr}}"><i class="fa fa-flickr"></i> Flickr</a></p>
				<p><a ng-show="member.youtube" ng-href="{{member.youtube}}"><i class="fa fa-youtube"></i> Youtube</a></p>
				<br/>
				<p ng-show="member.contributions"><strong>Contributions</strong></p>
				<div ng-show="member.contributions" ng-bind-html="member.contributions"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</script>
		<h2>Board</h2>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="member in fullList | filter:{status:'boardmember'}">
				<a href="" ng-click="open(member)"><img ng-src="/assets/img/members/{{member.nick}}.png" class="img-circle blue"/></a>
				<br/>
				<h3><a href="">{{member.name}}<br/>{{member.surname}}</a></h3>
				<p><a href="" ng-click="open(member)">@{{member.nick}}</a></p>
				<p><a ng-show="member.github" ng-href="https://github.com/{{member.github}}"><i class="fa fa-github"></i></a> <a ng-show="member.twitter" ng-href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a> <a ng-show="member.linkedin" ng-href="{{member.linkedin}}"><i class="fa fa-linkedin"></i></a> <a ng-show="member.blog" ng-href="{{member.blog}}"><i class="fa fa-rss"></i></a> <a ng-show="member.googleplus" ng-href="{{member.googleplus}}"><i class="fa fa-google-plus"></i></a> <a ng-show="member.stackoverflow" ng-href="{{member.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a> <a ng-show="member.flickr" ng-href="{{member.flickr}}"><i class="fa fa-flickr"></i></a> <a ng-show="member.youtube" ng-href="{{member.youtube}}"><i class="fa fa-youtube"></i></a></p>
				<br/>

			</div>
		</div>
		<h2>Independent members</h2>
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="member in fullList | filter:{status:'independent'}">
				<a href="" ng-click="open(member)"><img ng-src="/assets/img/members/{{member.nick}}.png" class="img-circle orange"/></a>
				<br/>
				<h3>{{member.name}}<br/>{{member.surname}}</h3>
				<p><a href="" ng-click="open(member)">@{{member.nick}}</a></p>
				<p><a ng-show="member.github" ng-href="https://github.com/{{member.github}}"><i class="fa fa-github"></i></a> <a ng-show="member.twitter" ng-href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a> <a ng-show="member.linkedin" ng-href="{{member.linkedin}}"><i class="fa fa-linkedin"></i></a> <a ng-show="member.blog" ng-href="{{member.blog}}"><i class="fa fa-rss"></i></a> <a ng-show="member.googleplus" ng-href="{{member.googleplus}}"><i class="fa fa-google-plus"></i></a> <a ng-show="member.stackoverflow" ng-href="{{member.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a> <a ng-show="member.flickr" ng-href="{{member.flickr}}"><i class="fa fa-flickr"></i></a> <a ng-show="member.youtube" ng-href="{{member.youtube}}"><i class="fa fa-youtube"></i></a></p>
				<br/>
			</div>
		</div>
		<h2>Alfresco Software, Inc. employees</h2>
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="member in fullList | filter:{status:'alfresco'}">
				<a href="" ng-click="open(member)"><img ng-src="/assets/img/members/{{member.nick}}.png" class="img-circle green"/></a>
				<br/>
				<h3>{{member.name}}<br/>{{member.surname}}</h3>
				<p><a href="" ng-click="open(member)">@{{member.nick}}</a></p>
				<p><a ng-show="member.github" ng-href="https://github.com/{{member.github}}"><i class="fa fa-github"></i></a> <a ng-show="member.twitter" ng-href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a> <a ng-show="member.linkedin" ng-href="{{member.linkedin}}"><i class="fa fa-linkedin"></i></a> <a ng-show="member.blog" ng-href="{{member.blog}}"><i class="fa fa-rss"></i></a> <a ng-show="member.googleplus" ng-href="{{member.googleplus}}"><i class="fa fa-google-plus"></i></a> <a ng-show="member.stackoverflow" ng-href="{{member.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a> <a ng-show="member.flickr" ng-href="{{member.flickr}}"><i class="fa fa-flickr"></i></a> <a ng-show="member.youtube" ng-href="{{member.youtube}}"><i class="fa fa-youtube"></i></a></p>
				<br/>
			</div>
		</div>
		<br/>
		<p><a href="#joinrequest" class="btn btn-lg btn-info smooth"><i class="fa fa-arrow-down"></i> Join us</a></p>
		<br/>
	</div>

<!-- TODO: add section about sponsorship -->

	<section class="orange" id="joinrequest">
		<div class="container-fluid">
			<h2 class="text-center">Join the Order</h2>
			<br/>
		</div>
	</section>

	<div class="container-fluid">
		<div class="row">
			<br/>
			<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12 text-left">
				<p>We welcome all community members contributing to the Alfresco community. There are a lot of ways to contribute and here are just a few of them:</p>
				<ul>
					<li>Publishing tutorials and posts about using, configuring and developing on Alfresco</li>
					<li>Hosting and organizing Alfresco Meetups</li>
					<li>Helping people on Forums, in IRC, StackOverflow and other resources</li>
					<li>Developing free open-source add-ons</li>
					<li>Translating Alfresco and add-ons to your native language</li>
					<li>And many other ways when you share with others something helpful with no charge.</li>
				</ul>
				<p>The only requirement and the only way to join the Order is to contribute to the community. Please, tell us about yourself and about your contributions so we may know a little about you. Links and details are welcome.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
				<form name="contactForm" class="form-horizontal" role="form" action="http://forms.brace.io/okurysheva@itdhq.com" method="POST">
					<div class="form-group">
						<label for="name">Your name</label>
						<input type="text" class="form-control" id="name" name="name" required />
					</div>
					<div class="form-group">
						<label for="email">E-mail</label>
						<input type="email" class="form-control" id="email" name="_replyto" required /> 
					</div>
					<div class="form-group">
						<label for="textarea">List of contributions</label>
						<textarea class="form-control" id="textarea" rows="6" name="Contributions" placeholder="Please, tell us about yourself and about your contributions so we may know a little about you. Links and details are welcome." required ></textarea>
					</div>
					<div class="form-group">
						<label for="textarea">How to find you in social media</label>
						<textarea class="form-control" id="textarea" rows="3" name="Social media" placeholder="Links to your Github, Twitter, Google+, LinkedIn and other profiles and a link to your blog if you have one" required ></textarea>
					</div>
					<input type="hidden" name="_next" value="/thankyou-jr/" />
					<div class="form-actions text-center">
						<button type="submit" class="btn btn-success btn-lg offset1">Submit</button>
						<button class="btn" type="reset">Clear</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<social></social>

 </body>
</html>
