/* common */

body {
	margin: auto;
	padding-top: 80px; 
	text-align: justify;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a.black:hover, a.black:focus, a.black {
	text-decoration: none; 
	color: #3a3a3a;
}

a.btn {
	text-decoration: none; 
}
h1 {
	margin-top: 40px;
	margin-bottom: 30px;
}
h2 {
	margin-top: 35px;
	margin-bottom: 28px;
}
h3 {
	margin-bottom: 20px;
}
dt {
	margin-top: 1em;
}

dd {
	margin-left: 5em;
}

li {
	list-style-position: inside;
}

.lead {
  margin-bottom:20px;
  font-size:16px;
  font-weight:400;
  line-height:1.6;
}
@media (min-width:768px) {
  .lead {
    font-size:18px
  }
}

/* tables */

.table th, .table td {
	text-align: center;
}

/* form margin */

.form-inline .form-group {
	margin-left: 20px;
}

.form-inline .form-group label {
	margin-right: 5px;
}

/* form validation */

input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
  border-color: #ccc;
  outline: 0;
}

input:focus:valid, textarea:focus:valid {
  border-color: #FFE14F;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 225, 79, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 225, 79, 0.6);
}

/* images */

img.right {
	float: right;
	margin: 10px 10px 10px 20px;
}

img.left {
	float: left;
	margin: 10px 10px 10px 20px;
}

img.purple {
	border:2px solid #5D44AF;
}

img.yellow {
	border:2px solid #ffe14f;
}

img.key {
	position: absolute;
	float: right;
	width: 50px;
	right:10px;
}

img.vote-info {
	width: 50px;
}

.bee-right {
        position: absolute;
        right: 20px;
        margin-top: 10px;
}

.bee-left {
        position: absolute;
        left: 20px;
        margin-top: 10px;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* legend for calendars */

.legend-1 {
	color: #47aa42;
}
.legend-2 {
	color: #F89829;
}
.legend-3 {
	color: #005dab;
}
.legend-4 {
	color: #ffe14f;
}
/* header */

header {
	z-index: 100;
}
.navbar {
	text-transform: uppercase;
	border: none;
}

.navbar-brand {
	padding: 1%;
}


.dropdown-menu > li {
	text-transform: none;
	font-size: 14px;
}

.dropdown-menu > li.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #777777;
	white-space: nowrap;
	text-transform: uppercase;
}

/* modal */

.modal-content {
	padding: 10px;
}

/* calendar */

.fc-event {
  position: relative;
  display: block;
  font-size: .85em;
  line-height: 1.3;
  border-radius: 3px;
  border: 1px solid #ffe14f;
  background-color: #ffdd35;
  font-weight: 400;
}
.fc-event, .fc-event:hover, .ui-widget .fc-event {
  color: #333;
  text-decoration: none;
}

/* sections specific */

.bg-lg {
	background: url(/assets/img/bg1.jpg) no-repeat center center scroll; 
}

.bg-md {
	background: url(/assets/img/bg2.jpg) no-repeat center center scroll; 
}

.bg-sm {
	background: url(/assets/img/bg3.jpg) no-repeat center center scroll; 
}

.bg-xs {
	background: url(/assets/img/bg4.jpg) no-repeat center center scroll; 
}

#home {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	text-align: center;
	position: relative;
	border-top: 1px solid #e3e3e3;
}

#home h1 {
	color: #ffffff;
}

#home h3 {
	color: #ffffff;
	font-weight: 300;
}

#home p {
	color: #ffffff; 
	margin: 40px 0 57px;
}

#home a:hover, #home a:active {
	opacity: 0.5;
}

#home a:active {
	position: relative; 
	top: 1px;
}

section {
	padding-top: 30px;

	-webkit-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
}

.grey {
	background-color: #f0f0f0;
}

.yellow {
	background-color: #ffe14f;
	-webkit-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
}

.bg-4 {
  padding:20px;
  background-color:rgba(255,255,255,.9);
  border-radius: 6px;
  margin-bottom: 20px;
  border-color: #5D44AF;
  border-width: 2px;
  border-style: solid;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

