/* common */

body {
	margin: 0 auto; 
	color: #3a3a3a; 
	text-align: justify;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a {
	text-decoration: underline; 
	color: #388534;
}

a:hover, a:focus {
	text-decoration: none; 
	color: #388534;
}

a.black:hover, a.black:focus, a.black {
	text-decoration: none; 
	color: #3a3a3a;
}

a.btn {
	text-decoration: none; 
}

h1 {
	margin: 42px 0 28px;
	text-transform: uppercase;
	font-weight: bold;
}

h2 {
	margin: 42px 0 28px;
	text-transform: uppercase;
	font-weight: bold;
}

dt {
	margin-top: 1em;
}

dd {
	margin-left: 5em;
}

li {
	list-style-position: inside;
}

/* alert overrides */

.alert-info {
	background-color: #A0E09D;
	color: #3a3a3a;
}

/* tables */

.table th, .table td {
	text-align: center;
}

/* form margin */

.form-inline .form-group {
	margin-left: 20px;
}

.form-inline .form-group label {
	margin-right: 5px;
}

/* form validation */

input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
  border-color: #F89829;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(248, 152, 41, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(248, 152, 41, 0.6);
}

input:focus:valid, textarea:focus:valid {
  border-color: #FFE14F;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 225, 79, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 225, 79, 0.6);
}

/* images */

img.right {
	float: right;
	margin: 10px 10px 10px 20px;
}

img.left {
	float: left;
	margin: 10px 10px 10px 20px;
}

img.orange {
	border:3px solid #F89829;
}

img.green {
	border:3px solid #2d6c2a;
}

img.blue {
	border:3px solid #005dab;
}

img.vote {
	position: absolute;
	float: right;
	width: 50px;
	right:10px;
}

img.vote-info {
	width: 50px;
}

.bee-right {
        position: absolute;
        right: 20px;
        margin-top: 10px;
}

.bee-left {
        position: absolute;
        left: 20px;
        margin-top: 10px;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* header */

.navbar {
	text-transform: uppercase;
	border: none;
}

.navbar-brand {
	padding: 0 1% 0 1%;
}

.stickyheader {  
	border-top: 2px solid #222; 
	position: fixed; 
	top: 0; 
	left: 0; 
	background-color: #fff; 
	border-bottom: 1px solid #e3e3e3; 
	z-index: 999; 
	max-width: 100%;
}

.stickyheader .navbar {
	margin: -200% auto 0; 
	max-width: 1920px; 
	min-width: 768px; 
}

.stickyheader-container {
	width: 100%;
	padding: 0 3.19445%;  
	box-sizing: border-box;
	max-width: 100%;
	color: #202020;
}

.navbar a {
	text-decoration: none; 
	color: inherit;
}

.navbar.navbar-default.navbar-static-top {
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}


.dropdown-menu > li {
	text-transform: none;
	font-size: 16px;
}

.dropdown-menu > li.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #777777;
	white-space: nowrap;
	text-transform: uppercase;
}

/* modal */

.modal-content {
	padding: 10px;
}

/* sections specific */

.bg-lg {
	background: url(/assets/img/bg1.jpg) no-repeat center center scroll; 
}

.bg-md {
	background: url(/assets/img/bg2.jpg) no-repeat center center scroll; 
}

.bg-sm {
	background: url(/assets/img/bg3.jpg) no-repeat center center scroll; 
}

.bg-xs {
	background: url(/assets/img/bg4.jpg) no-repeat center center scroll; 
}

#home {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	text-align: center;
	position: relative;
	border-top: 1px solid #e3e3e3;
}

#home h1 {
	color: #ffffff;
}

#home p {
	color: #ffffff; 
	margin: 40px 0 57px;
}

#home a:hover, #home a:active {
	opacity: 0.5;
}

#home a:active {
	position: relative; 
	top: 1px;
}

#members, .orange {
	background-color: #ffe14f;
	-webkit-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
}

.green {
	background-color: #47aa42;
	color: #fff;
	-webkit-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
}


